<div class="container__big-card">
  <div class="big-card__photo">
    <img
      src="https://miro.medium.com/v2/resize:fit:1400/1*bMgQ8MhbnQexpqHgIgBJPA.png"
      alt=""
      height="200px"
    />
  </div>
  <a href=""></a>
  <div class="big-card__title">
    <h1><a href="#">Saiu a nova versão do Angular</a></h1>
  </div>
  <div class="big-card__description">
    <p>
      <a href="#"
        >Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae,
        dolore. Molestiae architecto velit consectetur ipsum minima eaque quae
        odit optio eius deserunt, quam laborum provident, maiores doloremque
        recusandae nostrum unde!
      </a>
    </p>
  </div>
</div>
