<header>
  <app-menu-bar></app-menu-bar>
</header>
<app-menu-title></app-menu-title>
<div class="container__articles">
  <div class="articles__main">
    <app-big-card
      photoCover="https://miro.medium.com/v2/resize:fit:1400/1*bMgQ8MhbnQexpqHgIgBJPA.png"
      cardTitle="SAIU NOVO ANGULAR"
      cardDescription="Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid consectetur libero, quasi, officiis facilis facere accusantium perspiciatis enim voluptate eos iure? Debitis, distinctio mollitia? Fugit iure quidem maiores placeat at!"
    ></app-big-card>
    <app-big-card
      photoCover="https://prod-ripcut-delivery.disney-plus.net/v1/variant/disney/80C64C0B63382CD3ED2653356125F275F63D036028A77D38DC3286AD851A6833/scale?width=1200&amp;aspectRatio=1.78&amp;format=webp"
      cardTitle="NOVO HOMEN DE FERRO"
      cardDescription="Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid consectetur libero, quasi, officiis facilis facere accusantium perspiciatis enim voluptate eos iure? Debitis, distinctio mollitia? Fugit iure quidem maiores placeat at!"
    ></app-big-card>
  </div>

  <div class="articles__others">
    <app-small-card
      photoCover="https://cdn.mos.cms.futurecdn.net/qidTt2RVExWQrai2cky5vA-1200-80.jpg"
      cardTitle="Nova Serie"
    ></app-small-card>
    <app-small-card
      photoCover="https://cdn.mos.cms.futurecdn.net/qidTt2RVExWQrai2cky5vA-1200-80.jpg"
      cardTitle="Nova Serie"
    ></app-small-card>
    <app-small-card
      photoCover="https://cdn.mos.cms.futurecdn.net/qidTt2RVExWQrai2cky5vA-1200-80.jpg"
      cardTitle="Nova Serie"
    ></app-small-card>
  </div>
</div>
